[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST=rabbitmq.challa.cloud
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123 #This is the Dummy Password
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target
